ORDER_DB = order_service
ORDER_DB_USER = order_service
ORDER_DB_PASSWORD = password

STORAGE_DB = storage_service
STORAGE_DB_USER = storage_service
STORAGE_DB_PASSWORD = password

KEYCLOAK_ADMIN = admin
KEYCLOAK_ADMIN_PASSWORD = admin